# Define propriedades para todos os arquivos
[*]
indent_style = space         # Usa espaços para indentação
indent_size = 4              # Tamanho da indentação é de 4 espaços
charset = utf-8              # Codificação de caracteres é UTF-8
end_of_line = lf             # Quebra de linha LF (comum em Unix/Linux)
trim_trailing_whitespace = true # Remove espaços em branco no final das linhas
insert_final_newline = true  # Insere uma linha em branco no final do arquivo

# Sobrescreve algumas regras para arquivos .md
[*.md]
trim_trailing_whitespace = false